.table-wrapper {
  padding-left: 33px;
  margin-top: 16px;
}

.masters-grid-instance {
  display: block;
  width: 100%;
}

.empty-state .spinner {
  width: 32px;
  height: 32px;
  margin-bottom: 12px;
}

.empty-state-icon {
  margin-bottom: 12px;
  opacity: 0.7;
}
