.col-je-number {
  width: 100px;
}

.col-gl-number {
  width: 250px;
}

.col-sub {
  width: 130px;
}

.col-amount {
  width: 130px;
}

.col-date {
  width: 160px;
}

.col-dp {
  width: 100px;
}

.col-copy {
  width: 140px;
  text-align: center;
}

.col-copy-cell {
  text-align: center;
  vertical-align: middle;
}
